#app-banner
{
    background-image: linear-gradient(to right, #6db9ef, #7ce08a);
    padding: 50px 0;

    h1 
    {
        margin-top: 20px;
        color: #fff;
    }

    img 
    {
        width: 150px;
        margin: 50px 0;
    }
}