*
{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

@import 'header';
@import 'recruiters';
@import 'jobs';
@import 'site-stats';
@import 'app-banner';
@import 'footer';
@import 'media-query';
